[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
psycopg2 = "*"
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
pydantic = "*"
pydantic-settings = "*"
python-dotenv = "*"
httpx = "*"
sqlalchemy = "*"
asyncpg = "*"
alembic = "*"

[dev-packages]

[requires]
python_version = "3.12"
