fastapi
uvicorn[standard]
pydantic
pydantic-settings
python-dotenv
httpx
sqlalchemy
asyncpg
alembic
python-multipart
azure-ai-formrecognizer
openai
psycopg[binary]
langgraph
langgraph-supervisor
langgraph[postgres]
langgraph-checkpoint-postgres
langchain
langchain-core
langsmith
langchain-openai
pinecone[asyncio]
pinecone